body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #0b5563; /* Updated color for a fresh look */
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-bottom: 5px;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.product-card h2 {
    color: #0b5563;
    margin-top: 0;
}

.description, .size {
    font-size: 0.9em;
    color: #666;
    min-height: 20px;
}

.price {
    font-size: 1.2em;
    color: #c9184a; 
    margin: 15px 0;
    font-weight: bold;
}

.order-btn {
    background-color: #4CAF50; /* Green for WhatsApp */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.order-btn:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}